.container__add-note{
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 2px;
    width: 106px;
    height: 36px;
    background-color: transparent;
    color: var(--color-white);
    font-family: var(--font-family);
    font-weight: 500;
    transition: .8s;
}

.container__add-note:hover{
    background-color: var(--color-white);
    color: var(--color-black);
}