*,::after, ::before {
    box-sizing: border-box;
    margin-block:0;
    margin-inline: 0;
    font-family: var(--primary-font);
}

body {
    background-color: var(--light-white-color);
}

div,p,h1,h2,h3,input,button{
    font-family: inherit;
}
.container {
    max-width: 1435px;
    --container-padding:16px;
    padding-inline: var(--container-padding);
    margin-inline: auto;
}
@media screen and (max-width: 1435px) {
    .container {
        --container-padding: 128px;
    }
}

@media screen and (max-width: 1024px) {
    .container {
        --container-padding: 64px;
    }
}

@media screen and (max-width: 740px) {
    .container {
        --container-padding: 16px;
    }
}