.header {
    background-color: var(--black-color);
    width: 100%;
}

.header__container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    padding-block: 16px;
}