.button {
    background-color: transparent;
    color: var(--black-color);
    font-weight: 500;
}

.container__display-popup {
    border: 1px solid white;
    color: var(--white-color);
    border-radius: 2px;
    height: 36px;
    min-width: 106px;
    text-transform: uppercase;
    transition: .4s;
}
.container__display-popup:hover {
    background-color: var(--white-color);
    color: var(--black-color);
}
.popup__close {
    position: absolute;
    right: 16px;
    top: 22px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    border: none;
}

.popup__button {
    position: absolute;
    width: 106px;
    height: 36px;
    bottom: 18px;
    font-size: 14px;
    font-weight: 600;
    color: var(--white-color);
    border-radius: 2px;
}

.popup__create-task {
    right: 16px;
    background-color: var(--green-color);
    border:1px solid var(--green-color);
}

.popup__create-task:hover {
    background-color: var(--green-dark-color);
}

.popup__remove-task {
    right: 130px;
    border:1px solid var(--red-color);
    background-color: var(--red-color);
}

.popup__remove-task:hover{
    background-color: var(--red-dark-color);
}

.task__edit {
    width: 88px;
    height: 88px;
    margin-left:auto;
    background-color: var(--light-white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: var(--yellow-color);
    border-bottom-right-radius: 16px;
    border-top-right-radius: 16px;
}